body {
    font-family: "HelveticaNeue", "Arial", "sans-serif";
    background-color: black;
    color: whitesmoke;
    /* fade out */
    opacity: 1;
    transition: 1s opacity;
    /* fade out */
  
  }
  body.fade-out {
    opacity: 0;
    transition: none;
}  


  h2 {
    font-size: 2em; text-align: center;
}
h1{
    text-align: center;
    background: linear-gradient(to top, #ff6600 0%, #000000 75%);
    color: white;
}
p {
text-align: center;
}

div {
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
  }
 
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  .chartContainer {
    height: 75%;
    width: 75%;
    float: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left:auto;
    margin-right:auto;
    border:3px solid #FC6600;